.App {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  padding: 2rem;
  background-color: #000000;
  color: #333;
}

.App-header {
  background-color: #282c34;
  padding: 2rem;
  color: rgb(0, 0, 0);
  border-radius: 12px;
}

.App-section {
  margin-top: 2rem;
  padding: 1.5rem;
  background: rgb(0, 0, 0);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; /* pure black bg */
  color: #00ff00; /* CRT green text default */
  font-family: monospace;
  overflow: hidden; /* kill scrolling */
}